.screenWrapper {
    border-bottom: 16px inset rgba(0,0,0,.5);
    border-left: 16px inset rgba(0,0,0,.5);
    border-right: 16px inset rgba(255,255,255,.5);
    border-top: 16px inset rgba(255,255,255,.5);
    background: #7C7C7C;
}
