* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
}
.mainComponent {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% auto;
  overflow: hidden;
}
