@import url(https://fonts.googleapis.com/css?family=VT323);

.selectSceneButton {
    font-family: 'VT323', monospace ;
    border-bottom: 6px inset rgba(0,0,0,.5);
    border-left: 6px inset rgba(0,0,0,.5);
    border-right: 6px inset rgba(255,255,255,.5);
    border-top: 6px inset rgba(255,255,255,.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 2.2rem;
    margin: 1rem;
    min-width: 200px;
    text-transform: uppercase;
    width: auto;
    background: #0000BC;
}

.active {
    background:  #881400;
}
